* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.container1 {
    width: auto;
    margin-bottom: 15px;
    font-size: 60%;
}

.item {
   display: inline-block;
   width: calc(100%/3 - 12px);
   position: relative;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    padding: 5px;
}

img {
    width: 100%;
}

span {
    display: inline-block;
}

.discount {
    position: absolute;
    bottom: 80px;
    left: 0;
    background-color: red;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.discount1 {
    position: absolute;
    bottom: 80px;
    left: 0;
    background-color: red;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.sostenibility {
    position: absolute;
    bottom: 80px;
    left: 50px;
    background-color: green;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.sostenibility1 {
    position: absolute;
    bottom: 80px;
    left: 0;
    background-color: green;
    padding: 5px;
    font-size: 10px;
    color: white;
}
